In [90]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/alejandrocruz/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [3]:
#Scrape from site https://redplanetscience.com/ 
#Retrieve data for news_title & news_p
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover

In [6]:
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [7]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [82]:
#Scrape from site https://spaceimages-mars.com/
#Retrieve the featured_image_url 

# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/alejandrocruz/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [83]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [84]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [102]:
search_img = soup.find_all('a', class_='showimg fancybox-thumbs')
search_img

In [120]:
links_with_text = []
for a in soup.find_all('a', href=True): 
    if a.text: 
        links_with_text.append(a['href'])

In [121]:
links_with_text

['#',
 '#',
 'image/featured/mars2.jpg',
 'image/mars/Icaria Fossae7.jpg',
 'image/mars/Proctor Crater Dunes 7.jpg',
 'image/mars/Icaria Fossae7.jpg',
 'image/mars/Proctor Crater Dunes 7.jpg',
 'image/mars/Proctor Crater Dunes 7.jpg',
 'image/mars/Icaria Fossae7.jpg',
 'image/mars/Icaria Fossae.jpg',
 'image/mars/Ariadnes Colles4.jpg',
 'image/mars/Niger Vallis.jpg',
 'image/mars/Proctor Crater Dunes.jpg',
 'image/mars/Niger Vallis.jpg',
 'image/mars/Daedalia Planum.jpg',
 'image/mars/Sirenum Fossae.jpg',
 'image/mars/Ariadnes Colles4.jpg',
 'image/mars/South Polar Cap.jpg',
 'image/mars/Daedalia Planum.jpg',
 'image/mars/Ariadnes Colles3.jpg',
 'image/mars/Atlantis Chaos.jpg',
 'image/mars/Daedalia Planum.jpg',
 'image/mars/Icaria Fossae.jpg',
 'image/mars/Niger Vallis.jpg',
 'image/mars/Proctor Crater Dunes.jpg',
 'image/mars/Reull Vallis.jpg',
 'image/mars/Ariadnes Colles3.jpg',
 'image/mars/Sirenum Fossae.jpg',
 'image/mars/South Polar Cap.jpg',
 'image/mars/Niger Vallis.jpg',
 'image/mars/Daedalia Planum.jpg',
 'image/mars/Icaria Fossae.jpg',
 'image/mars/Ariadnes Colles4.jpg',
 'image/mars/South Polar Cap.jpg',
 'image/mars/Daedalia Planum.jpg']

In [ ]:
featured_image_url = url + href

In [67]:
browser.quit()

### Mars Facts

In [68]:
#Scrape from site https://galaxyfacts-mars.com/ 
#Retrieve table with pandas and convert it to HTML 

url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [69]:
#Selecting the first table 
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [70]:
#First row as header of the table 
df.columns = df.iloc[0]
comparison = df[1:]
comparison

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [71]:
comparison.set_index('Mars - Earth Comparison')

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [72]:
html_table = comparison.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [73]:
comparison.to_html('table.html')

### Mars Hemispheres

In [74]:
#Scrape from site https://marshemispheres.com/ 
#Retrieve high resolution images for each of Mar's hemispheres.
#Use a Python dictionary to store the data using the keys 
#img_url and title

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/alejandrocruz/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [75]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [79]:
for x in range(50):
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information
    articles = soup.find_all('div', class_='description')

In [80]:
href_tags = soup.find_all(href=True)

[<div class="description">
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
 </div>,
 <div class="description">
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
 </div>,
 <div class="description">
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
 </div>,
 <div class="description">
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
 </div>]

In [81]:
browser.quit()